.button-container-faves {
  background-color: #c1121f;
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-around;
  padding-top: 5%;
  width: 100vw;
}

.back-button-faves {
  background-color: #c1121f;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 20px;
  height: 5vh;
  width: 10vw;
}

.grow { 
  transition: all .2s ease-in-out; 
}
  
.grow:hover { 
  transform: scale(1.1); 
}