.form-container {
  height: 8vh;
  width: 25vw;
  margin-left: 10%;
}

.input {
  height: 4vh;
  width: 12vw;
  color: white;
  border-radius: 5px;
  border: 2px solid gray;
}

.form-button {
  height: 4.5vh;
  width: 5vw;
  background-color: #c1121f;
  color: white;
  border-radius: 5px;
  border: none;
}