.form-container {
  height: 8vh;
  width: 30vw;
  margin-left: 10%;
}

.input {
  height: 4vh;
  width: 18vw;
  color: white;
  border-radius: 3px;
  border: 2px solid gray;
}

.form-button {
  height: 4.5vh;
  width: 5vw;
  background-color: #c1121f;
  color: white;
  border-radius: 2px;
  border: none;
}