.error-message {
  font-size: 40px;
  margin-left: 40%;
  margin-top: 5%;
}

.error-container {
  background-color: #c1121f;
  height: 10vh;
  padding-top: 5%;
}

.error-button {
  background-color: #c1121f;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  height: 4.5vh;
  margin-left: 10%;
  width: 20vw;
}