.favorite {
  height: 2vh;
  margin-left: 35%;
  margin-bottom: 4%;
  margin-top: 2%;
  width: 25vw;
}

label {
  font-size: 20px;
}

.card {
  margin-bottom: 5%;
  border: 2px solid gray;
  width: 40vw;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 10px;
}

.card-image {
  margin-left: 6.5%;
  height: 85vh;
  width: 35vw;
}

.card-title {
  text-align: center;
}