.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.primary-img {
  height: 90vh;
  width: 40vw;
<<<<<<< HEAD
=======
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
>>>>>>> e66dcbb2464237281d9a082fde4625f1ab30f233
  align-items: center;
}

.work-details {
  text-align: center;
  color: black;
<<<<<<< HEAD
=======
  font-weight: bold;
>>>>>>> e66dcbb2464237281d9a082fde4625f1ab30f233
}

.favorite-details {
  color: black;
  margin-top: 15%;
  margin-bottom: 15%;
}

.back-button { 
  height: 4.5vh;
  background-color: #c1121f;
  color: white;
  border-radius: 5px;
  border: none;
<<<<<<< HEAD
  margin-top: 25%;
}

.button-container-single {
  height: 10vh;
  background-color: #c1121f;
  padding-top: 5%;
}

.back-button-single {
  height: 5vh;
  width: 20vw;
  background-color: #c1121f;
  color: white;
  border: none;
  font-size: 20px;
  margin-left: 12%;
=======
  width: 10vw;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 4%;
}

.button-container-details {
  height: 10vh;
  background-color: #c1121f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
>>>>>>> e66dcbb2464237281d9a082fde4625f1ab30f233
}