.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.primary-img {
  height: 90vh;
  width: 40vw;
  align-items: center;
}

.work-details {
  text-align: center;
  color: black;
}

.favorite-details {
  color: black;
  margin-top: 15%;
}

.back-button { 
  height: 4.5vh;
  width: 10vw;
  background-color: #c1121f;
  color: white;
  border-radius: 2px;
  border: none;
  margin-top: 25%;
}

.button-container-single {
  height: 10vh;
  background-color: #c1121f;
  padding-top: 5%;
}

.back-button-single {
  height: 5vh;
  width: 20vw;
  background-color: #c1121f;
  color: white;
  border: none;
  font-size: 20px;
  margin-left: 12%;
}